* {
	box-sizing: border-box;
}

body {
	background-color: #45A29E;
	margin: 0;
	margin-top: 0;
}

header {
	margin: 0;
	padding: 0;
	background-color: #0B0C10;
	align-items: center;
}

.navbar-menu {
	margin: 0;
	text-align: center;
	list-style-type: none;
}

.navbar-menu li {
	display: inline;
}

.navbar-menu a {
	color: #CCD0CF;
	text-align: center;
	font-size: 20px;
	font-family: "InterTight-BoldItalic";
	padding: 20px;
  	text-decoration: none;
  	font-weight: bold;
  	display: inline-block;	
}

.navbar-menu a:hover {
	color: #0B0C10;
	background-color: #66FCF1;
	transition: all 0.15s ease;
}

#passwords:hover {
color: #0B0C10;
	background-color: #66FCF1;
	transition: all 0.15s ease;
}

.mainlogo {
	align-items: center;
	margin: 0;
	padding: 0;
}

.mainlogo img {
	margin: 0px;
	max-width: 100%;
	max-height: 100%;
}

.welcome {
	background-color: #0B0C10;
	margin: 0px;
	align-items: center;
}

.welcome h1 {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 60px;
	color: #CCD0CF;
	font-family: "InterTight-ExtraLight";
}

.welcome b {
	color: #66FCF1;
}

.whatiskeymasters {
	margin: 20px;
	padding: 20px;
	align-items: center;
	width: 700px;
	display: inline-block;
	font-size: 40px;
	font-family: "InterTight-ExtraLight";
	border: 5px dashed #45A29E;
	border-radius: 20px;
}

.whatiskeymasters2 {
	margin: 20px;
	padding: 20px;
	align-items: center;
	width: 700px;
	display: inline-block;
	font-size: 40px;
	font-family: "InterTight-ExtraLight";
	border: 5px dashed #45A29E;
	border-radius: 20px;
}

@font-face {
	font-family: "InterTight-BoldItalic";
	src: url("../fonts/Inter Tight/InterTight-BoldItalic.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
} 

@font-face {
	font-family: "InterTight-ExtraLight";
	src: url("../fonts/Inter Tight/InterTight-Thin.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
} 