* {
	box-sizing: border-box;
}

body {
	background-color: #222629;
	margin: 0;
	margin-top: 0;
}

header {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	background-color: #222629;
	align-items: center;
}

.navbar-menu {
	margin: 0;
	text-align: center;
	list-style-type: none;
	font-size: 0;
}

.navbar-menu li {
	display: inline-block;
	width: 100%;
}

.navbar-menu a {
	width: 100%;
	color: #86C232;
	text-align: center;
	font-family: "Mona-Sans-BlackWideItalic";
	font-size: 1.3vw;
	padding: 1.5vw;
  	text-decoration: none;
  	display: inline-block;	
}

.navbar-menu a:hover {
	color: #61892F;
	transition: all 0.3s ease;
}

.mainlogo {
	align-items: center;
	margin: 0;
	padding: 0;
	background-color: #61892F;
	font-size: 0;
}

.mainlogo img {
	display: block;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}

.welcome {
	background-color: #222629;
	margin: 40px 0 0 0;
	font-size: 0;
}

.welcome h1 {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 60px;
	color: #C4C4C4;
	font-family: "IBMPlexSans-Bold";
}

.welcome b {
	color: #86C232;
	font-family: "Mona-Sans-BlackWideItalic";
}

.welcome-items {
	max-width: 1728px;
	max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0px auto 0 auto;
	font-size: 0;
}

.whatiskeymasters {
	margin-right: 80px;
	margin-left: 30px;
    font-size: 40px;
    text-align: left;
}

.whatiskeymasters p {
    font-family: "IBMPlexSans-ExtraLight";
    color: #C4C4C4;
	margin: 0;
}

.whatiskeymasters b {
    color: #86C232;
    font-family: "Mona-Sans-BlackWideItalic";
}

.welcome-logo {
    padding: 0;
    width: 400px;
}

footer {
	background-color: #61892F;
}

@font-face {
	font-family: "Mona-Sans-BlackWideItalic";
	src: url("../fonts/Mona-Sans/Mona-Sans-BlackWideItalic.otf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
} 

@font-face {
	font-family: "IBMPlexSans-Bold";
	src: url("../fonts/SuisseIntl-Book.otf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
} 

@font-face {
	font-family: "IBMPlexSans-ExtraLight";
	src: url("../fonts/SuisseIntl-Book.otf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
} 