* {
	box-sizing: border-box;
	font-size: 0;
	margin: 0;
	padding: 0;
}

body {
	background-color: #222629;
}

header {
	display: flex;
	justify-content: center;
	background-color: #222629;
	align-items: center;
}

.navbar-menu {
	text-align: center;
	list-style-type: none;
}

.navbar-menu li {
	display: inline-block;
	width: 100%;
}

#PasswordsHeaderButton {
	background: linear-gradient(#86C232 0 0) 100% 100% /var(--t, 0) 0.2vw no-repeat;
	transition: 0.5s;
	display: inline-block;
	width: 100%;
	color: #C4C4C4;
	text-align: center;
	font-family: "Mona-Sans-BlackWideItalic";
	font-size: 1.3vw;
	padding: 1vw;
  	text-decoration: none;
}

#PasswordsHeaderButton:hover {
	--t: 100%;
	color: #86C232;
}

#VaultHeaderButton {
	background: linear-gradient(#86C232 0 0) 0 100% /var(--t, 0) 0.2vw no-repeat;
	transition: 0.5s;
	display: inline-block;
	width: 100%;
	color: #C4C4C4;
	text-align: center;
	font-family: "Mona-Sans-BlackWideItalic";
	font-size: 1.3vw;
	padding: 1vw;
  	text-decoration: none;
}

#VaultHeaderButton:hover {
	--t: 100%;
	color: #86C232;
}

#CryptoHeaderButton {
	background: linear-gradient(#86C232 0 0) bottom /var(--t, 0) 0.2vw no-repeat;
	transition: 0.5s;
	display: inline-block;
	width: 100%;
	color: #C4C4C4;
	text-align: center;
	font-family: "Mona-Sans-BlackWideItalic";
	font-size: 1.3vw;
	padding: 1vw;
  	text-decoration: none;
}

#CryptoHeaderButton:hover {
	--t: 100%;
	color: #86C232;
}

#SCAMGuardHeaderButton {
	background: linear-gradient(#86C232 0 0) 100% 100% /var(--t, 0) 0.2vw no-repeat;
	transition: 0.5s;
	display: inline-block;
	width: 100%;
	color: #C4C4C4;
	text-align: center;
	font-family: "Mona-Sans-BlackWideItalic";
	font-size: 1.3vw;
	padding: 1vw;
  	text-decoration: none;
}

#SCAMGuardHeaderButton:hover {
	--t: 100%;
	color: #86C232;
}


#SocialHeaderButton {
	background: linear-gradient(#86C232 0 0) 0 100% /var(--t, 0) 0.2vw no-repeat;
	transition: 0.5s;
	display: inline-block;
	width: 100%;
	color: #C4C4C4;
	text-align: center;
	font-family: "Mona-Sans-BlackWideItalic";
	font-size: 1.3vw;
	padding: 1vw;
  	text-decoration: none;
}

#SocialHeaderButton:hover {
	--t: 100%;
	color: #86C232;
}


.mainlogo {
	align-items: center;
	margin: 0;
	padding: 0;
	background-color: #61892F;
	font-size: 0;
}

.mainlogo img {
	display: block;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}

.welcome {
	background-color: #222629;
	margin: 1vw 0 0 0;
}

.welcome h1 {
	text-align: center;
	font-size: 3.5vw;
	color: #C4C4C4;
	font-family: "SuisseIntl-Book";
}

.welcome b {
	font-size: 3.5vw;
	color: #86C232;
	font-family: "Mona-Sans-BlackWideItalic";
}

.welcome-items {
	max-width: 1728px;
	max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto 0 auto;
}

.whatiskeymasters {
	margin-right: 4vw;
	margin-left: 2vw;
    text-align: left;
}

.whatiskeymasters p {
	font-size: 2.5vw;
    font-family: "SuisseIntl-Book";
    color: #C4C4C4;
}

.whatiskeymasters b {
	font-size: 2.5vw;
    color: #86C232;
    font-family: "Mona-Sans-BlackWideItalic";
}

.welcome-logo {
	max-width: 1000px;
	max-height: 1000px;
    width: 20vw;
	height: 20vw;
}

.some-about-us {
	display: flex;
	padding: 5vh;
}

.some-about-us h1 {
	display: inline-block;
	margin: 0 auto 0 auto;
	font-size: 3.5vw;
	font-family: "SuisseIntl-Book";
}

footer {
	background-color: #61892F;
}

@font-face {
	font-family: "Mona-Sans-BlackWideItalic";
	src: url("../fonts/Mona-Sans/Mona-Sans-BlackWideItalic.otf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
} 

@font-face {
	font-family: "SuisseIntl-Book";
	src: url("../fonts/SuisseIntl-Book.otf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
} 